html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
}

a {
  color: maroon;
  text-decoration: none;
}

.header {
text-align:center;
margin-top: 0;
height: 120px;
background: maroon;
color: rgb(255, 255, 255);
}

.wc-logo {
  animation: logo 3s linear infinite forwards
}

@keyframes logo {
  0% {transform: rotateY(0deg);}
  50% {transform: rotateY(180deg);}
  100% {transform: rotateY(360deg);}
}


.wc_menu {
  
    display:grid;
    margin-top: 50px;
    width: 200px;
  display:grid; 
  grid-template-columns: 200px 200px;
  }

.countries-menu {
  color: maroon;
    font-weight: bolder;
    font-size: larger;
    border-style: outset;
  border-color: rgb(252, 217, 172);
}
.stadiums-menu {
  color: maroon;
    font-weight: bolder;
    font-size: larger;
    border-style: outset;
  border-color: rgb(252, 217, 172);
}
  

.left {
  width: 447px;
  height: 290px;
  margin: 100px;
  color:rgb(255, 255, 255);
  background-color: maroon;
  font-weight: bolder;
  font-size:xx-large;
  text-align: center;
  border-color: maroon;
  animation: border 5s infinite forwards;
}


.right {
  width: 450px;
  height: 290px;
  margin: 100px;
  margin-left: auto;
  color:antiquewhite;
  background-color: maroon;
  font-weight: bolder;
  font-size:xx-large;
  text-align: center;
  border-color: maroon;
  animation: border 5s infinite forwards;
}

@keyframes border {
  0% {background-color: maroon; color: antiquewhite;}
  50% {background-color: rgb(78, 0, 0); color:white;}
  100% {background-color: maroon; color: antiquewhite;}
}


.stadium-photo {
  width: auto;
}

.stadium-photo:hover {
  width: 500;
  height: 350;
}

@media (max-width: 400px) {
  .header {
    width: 400px;
    height: 150px;
  }

  .left {
    width: 250px;
  height: 90px;
  margin: 100px;
  font-size: large;
  }

  .right {
    width: 250px;
  height: 90px;
  margin: 100px;
  margin-left: auto;
  font-size: large;
  }

  .stadium-photo {
    width: 250px;
    height: 90px;
  }

}




